
/target/
/elasticsearch_scala_core/target/
/elasticsearch_scala_core/shared/target/
/elasticsearch_scala_core/js/target/
/elasticsearch_scala_core/jvm/target/
/elasticsearch_scala_java_client/target/
/elasticsearch_scala_shell/target/
/doc/target/
/.idea/
/project/target/
/project/project/
/.history
